@model AspTodo.Models.TodoItemsVm;

@{
    ViewData["Title"] = "Index";
}

<h1>Todos in List</h1>



<p>
    <a asp-action="Create" asp-route-id="@Model.TodoListId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                IsComplete
            </th>            
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>            
            <td>                
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="ItemId" value="@item.Id" />
                    <input type="hidden" name="ListId" value="@item.TodoListId" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

