@model IEnumerable<AspTodo.Models.TodoItem>

@{
    ViewData["Title"] = "AspTodo";
}

<h1>AspTodo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripton)
            </td>
            <td>
                <form asp-action="MarkComplete" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="checkbox" name="IsComplete" checked="@item.IsComplete" class="completed-checkbox">
                </form>                
            </td>
            <td>     
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
                
            </td>
        </tr>
}
    </tbody>
</table>
